$acceptColor: $green-100;
$rejectColor: $green-200;
$acceptTextColor: $rejectColor;
$acceptHoverColor: $accentColor;
$rejectHoverColor: $green-300;

.btn {
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  border: 0;
  border-radius: 16px;
  margin-bottom: 10px;
  outline: none;
  transition: $transition;
}

.btn-accept {
  color: $acceptTextColor;
  background-color: $acceptColor;

  &:hover {
    background-color: $acceptHoverColor;
  }

}

.btn-reject {
  color: $white;
  background-color: $rejectColor;

  &:hover {
    background-color: $rejectHoverColor;
  }

}
