@import url('fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap');

$black: #363839;
$lightgray: #E4E4E4;
$gray: #767676;
$bgInputColor: #e4e4e4;
$hoverInputColor: #feed7e;
$green: #06842c;

.checkbox-inner {
  display: flex;
  align-self: center;
  margin-right: 40px;
  @include tx-media(phone) {
    margin: 20px 0;

    label{
        &::before {
          margin-top: 0;
        }
      }
  }
}

.checkbox {
  position: absolute;
  opacity: 0;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  & + label:before {
    content: '';
    margin-top: -2px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    border-radius: 6px;
    width: 20px;
    height: 20px;
    background: $lightgray;
  }

  &:hover + label:before {
    background: $hoverInputColor;
  }

  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  &:checked + label:after {
    position: absolute;
    top: 9px;
    left: 5px;
    content: '';
    width: 2px;
    height: 2px;
    background: $gray;
    box-shadow:
      2px 0 0 $gray,
      4px 0 0 $gray,
      4px -2px 0 $gray,
      4px -4px 0 $gray,
      4px -6px 0 $gray,
      4px -8px 0 $gray;
    transform: rotate(45deg);
  }
}
