@import url('fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap');

$black: #363839;
$lightgray: #9c9e9f;
$gray: #767676;
$bgInputColor: #e4e4e4;
$hoverInputColor: #feed7e;
$green: #06842c;

.checkbox-inner {
  margin-right: 40px;
  @include tx-media(phone) {
    margin: 20px 0;
  }
}

input [type='checkbox'] {
  position: relative;
  bottom: 2px;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 6px;
  color: $black;
  background-color: $bgInputColor;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(.1, .1, .25, 1);

  &:hover {
    background-color: $hoverInputColor;
  }


  &::before {
    position: absolute;
    bottom: 6px;
    left: 7px;
    content: '';
    display: block;
    width: 4px;
    height: 8px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    opacity: 0;
    transform: rotate(45deg);
  }

  &:checked {
    color: $gray;

    &::before {
      opacity: 1;
    }

  }
}

label {
  position: relative;
  line-height: 30px;
  cursor: pointer;
  user-select: none;

  &::before {
    position: absolute;
    content: attr(data-content);
    color: $lightgray;
    text-decoration: line-through;
    text-decoration-color: $black;
    transition: clip-path 200ms cubic-bezier(.25, .46, .45, .94);
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    text-decoration: 3px;
  }
}
