$reserveBgColor: $green-200;
$reserveTitleColor: $green-100;
$grey100: #f2f2f2;
$black: rgba(32, 128, 133, .0001) 100%;
$blue: #208085 0%;

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: $fontText;
}

.page {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
  background-color: $grey100;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-color: $bgColor;
  @include tx-media(phone) {
    display: flex;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  min-height: 60px;
}

.logo__img {
  padding-right: 12px;
}

.logo__text {
  color: $headerTextColor;
  font-size: 24px;
  font-family: $fontLogo;
}

.control-panel {
  margin: 40px 0;
}

.control-panel__title {
  color: #3f3f3f;
  font-size: 24px;
  @include tx-media(phone) {
    font-size: 28px;
  }
}

.control-panel__right-section {
  z-index: 100;
  display: flex;
  margin-right: 80px;
  @include tx-media(phone) {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    font-size: 18px;
  }
}

.control-panel__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  @include tx-media(phone) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
}

.item {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: 250px;
  padding: 20px 20px 10px;
  border-radius: 6px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: $white;
}

.item__img {
  width: 250px;
  margin-top: -20px;
  height: 150px;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}

.item--reserve {
  background-color: $reserveBgColor;

  .item__info {
    color: $white;
  }

  .item__img {
    position: relative;
    display: inline-block;
    line-height: 0;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: transparent;
      background: linear-gradient(
        180deg,
        $blue,
        $black
      );
      opacity: .8;
    }
  }

  .btn-reject {
    border: 2px solid $white;

    &:hover {
      border:  2px solid transparent;
    }
  }
}

.item__title-reserve {
  position: absolute;
  padding-top: 20px;
  color: $reserveTitleColor;
  font-weight: 400;
  font-size: 18px;
}

.item__info {
  margin: 25px 0;
  text-align: center;
}

.item__title {
  margin-bottom: 10px;
  font-size: 18px;
}

.item-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  @include tx-media(phone) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }

  @media (min-width: 1000px) and (max-width: 1400px) {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.footer {
  min-height: 40px;
  margin-top: auto;
  background-color: $bgColor;
}

.footer__text {
  color: $footerTextColor;
  text-align: center;
  line-height: 40px;
}
