li {
  margin: 0;
}

.select-box {
  position: relative;
  display: block;
  min-width: 220px;
}

.select-box__current {
  position: relative;
  outline: none;
  cursor: pointer;

  &:focus + .select-box__list {
    opacity: 1;
    animation-name: none;
  }

  &:focus {
    .select-box__icon {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &:focus + .select-box__list + .select-box__option {
    cursor: pointer;
  }

}

.select-box__icon {
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 15px;
  width: 15px;
  opacity: .3;
  user-select: none;
  transform: translateY(-50%);
  transition: .2s ease;
}

.select-box__value {
  display: flex;
}

.select-box__input {
  display: none;

  &:checked + .select-box__input-text {
    display: block;
  }
}

.select-box__input-text {
  display: none;
  width: 100%;
  padding: 4px 4px 4px 8px;
  border-radius: 6px;
  margin: 0;
  background-color: #e4e4e4;
}

@media only screen and (max-width: 45em) {
  .select-box__input-text {
    padding: 8px 35px 8px 16px;
  }
}

.select-box__list {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: -30px -3px;
  list-style: none;
  opacity: 0;
  animation-name: HideList;
  animation-duration: .5s;
  animation-timing-function: step-start;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}

.select-box__option {
  display: block;
  padding: 4px 4px 4px 8px;
  color: #546c84;
  background-color: #e4e4e4;
  transition: all .3s;

  &hover,
  &focus {
    color: #546c84;
    background-color: #feed7e;
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(0);
  }
}
