li {
  margin: 0px !important;
}

.select-box {
  position: relative;
  display: block;
  min-width: 220px;
  &__current {
    position: relative;
    cursor: pointer;
    outline: none;
    &:focus {
      & + .select-box__list {
        opacity: 1;
        animation-name: none;
        .select-box__option {
          cursor: pointer;
        }
      }

      .select-box__icon {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &__icon {
    position: absolute;
    user-select: none;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 15px;
    opacity: 0.3;
    transition: 0.2s ease;
    z-index: 100;
  }

  &__value {
    display: flex;
  }

  &__input {
    display: none;

    &:checked + .select-box__input-text {
      display: block;
    }
  }

  &__input-text {
    border-radius: 6px;
    display: none;
    width: 100%;
    margin: 0;
    padding: 4px 4px 4px 8px;
    background-color: #e4e4e4;
    @include tx-media(phone) {
      padding: 8px 35px 8px 16px;
    }
  }

  &__list {
    position: absolute;
    width: 100%;
    margin: -30px -3px 0px 0px;
    padding: 0;
    list-style: none;
    opacity: 0;
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
  }

  &__option {
    display: block;
    padding: 4px 4px 4px 8px;
    color: #546c84;
    background-color: #e4e4e4;
    transition: $transition;
    &:hover,
    &:focus {
      color: #546c84;
      background-color: #feed7e;
    }
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
