/* colors */
$green-100: #58ffb5;
$green-200: #208085;
$green-300: #0e4447;

$grey-100: #f4f4f4;
$grey-200: #767676;
$grey-300: #454545;
$grey-400: #3f3f3f;

$white: #fff;
$accentColor: #feed7e;

$titleColor: $grey-300;
$headerTextColor: $grey-100;
$footerTextColor: $grey-100;
$bgColor: $green-300;
$fontText: 'Actor', sans-serif;
$fontLogo: 'Adamina', serif;
$transition: all .3s;
